:root {
  --accent-color: #fa4a0c;
  --main-text-color: #252b42;
  --secondary-text-color: #737373;
  font-size: 24px;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.content-width {
  max-width: 1140px;
  margin: 0 auto;
}

.h1-heading-style {
  font-family: Monserrat;
  font-size: calc(30px + 28 * (100vw / 1440));
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
}
@media (max-width:845px) {
  h1-heading-style {
    font-size: calc(30px + (28 + 28*0.7) * (100vw - 320px/ 1440));
  }
}

.h2-heading-style {
  font-family: Monserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.h3-headind-style {
  font-family: Monserrat;
  font-size: 24px;
  font-weight:700;
  line-height: 36px;
  letter-spacing: 0.1px;
}

.h4-headind-style {
  font-family: MonserratRegular;
  font-size: 24px;
  font-weight: 1;
  line-height: 38px;
  letter-spacing: 0.2px;
}

.margin-bottom {
  margin-bottom: 20px;
}