@font-face {
  font-family: Monserrat;
  font-weight: 500;
  src: url('../fonts/Monserrat/Montserrat-Bold.ttf') format('TrueType');
}
@font-face {
  font-family: MonserratRegular;
  font-weight: 400;
  src: url('../fonts/Monserrat/Montserrat-Regular.ttf') format('TrueType');
}
