.footer-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.copywright-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
}