
.header-style {
  padding: 25px 40px;
  font-family: Monserrat;
  font-weight: bold;
}

.header-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list-item {
  display: inline-block;
  padding: 10px;
  position: relative;
}

.nav-list-item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: 0.35s;
}

.nav-list-item:hover:before{
  width: 100%;
}

@media screen and (max-width:745px) {
  .header-flex-container {
    flex-direction: column;
  }
}
@media screen and (max-width:540px) {
  .nav-list-item{
    display: block;
    text-align: center;
  }
}
