.phones-app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.phone-app-img-wrapper {
  position: relative;
  top: -100px;
}

.phone-app-img {
  max-width: 100%;
  max-height: 100%;
}

.horisontal-line{
  content: '';
  background: var(--secondary-text-color);
  opacity: 0.3;
  height: 3px;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 70px;
}



