.stay-hungry-section-style {
  background-image: url('../images/bg-main.png');
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 75px;
  text-align: center;
}

.button-style {
  padding: 15px 55px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
  min-width: 235px;
  background: none;
  margin: 48px 35px 145px
}

.button-style:hover {
background: var(--accent-color);
border: none;
}